.delivery-wrapper {
  padding: 60px 20px;
  display: flex;
  justify-content: center;
}

.delivery-card {
  background: #fff1f2; /* pink lembut */
  width: 100%;
  max-width: 1200px;
  padding: 70px 40px;
  border-radius: 24px;
  text-align: center;
}

.delivery-card h2 {
  font-size: 36px;
  font-family: "Georgia", serif;
  margin-bottom: 20px;
  color: #111827;
}

.delivery-card p {
  max-width: 700px;
  margin: 0 auto 40px;
  font-size: 16px;
  line-height: 1.6;
  color: #4b5563;
}

.delivery-btn {
  background: #e11d48;
  color: white;
  border: none;
  padding: 14px 36px;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.delivery-btn:hover {
  background: #be123c;
  transform: translateY(-2px);
}
