.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 64px;
  background: white;
}

.logo {
  font-size: 26px;
  font-weight: bold;
  color: #e91e63;
}

.nav-menu {
  display: flex;
  list-style: none;
  gap: 32px;
  font-size: 18px;
}

.nav-menu li {
  cursor: pointer;
}

.nav-icons {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 23px;
}

.login {
  color: #e91e63;
  cursor: pointer;
}
